@import "override";

/* IMPOSTAZIONI GENERALI */

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */

#logo {
    width: 125px;
}

.nav-img {
    width: 40px;
    height: 40px;
}

#trending img:hover,
#watch-again img:hover,
#new-releases img:hover {
    transform: scale(1.1);
}